<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hyelper</title>

  <!-- Vendor Stylesheets -->
  <link rel="stylesheet" href="assets/css/plugins/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/plugins/animate.min.css">
  <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">
  <link rel="stylesheet" href="assets/css/plugins/slick.css">
  <link rel="stylesheet" href="assets/css/plugins/slick-theme.css">
  <link rel="stylesheet" href="assets/css/plugins/select2.min.css">

  <!-- Icon Fonts -->
  <link rel="stylesheet" href="assets/fonts/flaticon/flaticon.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome/css/all.min.css">

  <!-- Tours Style sheet -->
  <link rel="stylesheet" href="assets/css/style.css">


  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">

</head>

<body>

  <!-- Preloader Start -->
  <div class="acr-preloader">
    <div class="acr-preloader-inner">
      <img src="assets/img/svg/preloader.svg" alt="preloader">
    </div>
  </div>
  <!-- Preloader End -->

  <!--Desktop Aside bar Start -->
    <aside class="sigma_aside sigma_aside-desktop">

      <div class="sidebar">

        <div class="sidebar-widget">
          <img src="assets/img/logo.png" class="mb-30" alt="img">
          <p class="mb-0">Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec rutrum congue leo eget malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
        </div>
        <!-- Recent Posts Widget -->
       <div class="sidebar-widget">
              <h5>Recent Posts</h5>
              <article class="media">
                <a href="#"><img src="assets/img/blog-sm/1.jpg" alt="post"></a>
                <div class="media-body">
                  <h6> <a href="#">10 Top Showroom Planners </a> </h6>
                  <span>January 22, 2021</span>
                </div>
              </article>
              <article class="media">
                <a href="#"><img src="assets/img/blog-sm/2.jpg" alt="post"></a>
                <div class="media-body">
                  <h6> <a href="#">How to get better agents in NYC</a> </h6>
                  <span>January 24, 2021</span>
                </div>
              </article>
              <article class="media">
                <a href="#"><img src="assets/img/blog-sm/3.jpg" alt="post"></a>
                <div class="media-body">
                  <h6> <a href="#">Showroom Venue where you will get your dream </a> </h6>
                  <span>January 26, 2021</span>
                </div>
              </article>
              <article class="media">
                <a href="#"><img src="assets/img/blog-sm/4.jpg" alt="post"></a>
                <div class="media-body">
                  <h6> <a href="#">ROLLERDROME FAMILY SKATE CENTER</a> </h6>
                  <span>January 28, 2021</span>
                </div>
              </article>
       </div>

      </div>

    </aside>
    <div class="sigma_aside-overlay aside-trigger-right"></div>
    <!--Desktop Aside bar End -->

    <!--Mobile Aside nav Start -->
    <aside class="sigma_aside">
      <div class="sigma_close aside-trigger">
        <span></span>
        <span></span>
      </div>
      <div class="sigma_logo-wrapper">
        <a class="sigma_logo" href="index.html">
          <img src="assets/img/logo.png" alt="logo">
        </a>
      </div>
     <ul class="navbar-nav">
              <li class="menu-item menu-item-has-children">
                <a href="#">Home Pages</a>
                <ul class="sub-menu">
                  <li class="menu-item"> <a href="index.html">Home v1</a> </li>
                  <li class="menu-item"> <a href="home-v2.html">Home v2</a> </li>
                  <li class="menu-item"> <a href="home-v3.html">Home v3</a> </li>

                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a href="#">Blog</a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-has-children">
                    <a href="blog-grid.html">Blog Archive</a>
                    <ul class="sub-menu">
                      <li class="menu-item"> <a href="blog-left-sidebar.html">Left Sidebar</a> </li>
                      <li class="menu-item"> <a href="blog-right-sidebar.html">Right Sidebar</a> </li>
                      <li class="menu-item"> <a href="blog-grid.html">Grid View</a> </li>
                      <li class="menu-item"> <a href="blog-list.html">List View</a> </li>
                    </ul>
                  </li>
                  <li class="menu-item">
                    <a href="blog-single.html">Blog Single</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a href="#">Pages</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="about-us.html">About Us</a></li>
                  <li class="menu-item"><a href="services.html">Services</a></li>
                  <li class="menu-item"><a href="faq.html">FAQ</a></li>
                  <li class="menu-item"><a href="pricing.html">Pricing</a></li>
                  <li class="menu-item"><a href="contact-us.html">Contact Us</a></li>
                  <li class="menu-item"><a href="coming-soon.html">Coming Soon</a></li>
                  <li class="menu-item"><a href="404.html">404 Page</a></li>
                  <li class="menu-item"><a href="login.html">Login</a></li>
                  <li class="menu-item"><a href="register.html">Register</a></li>
                  <li class="menu-item"><a href="legal.html">Legal</a></li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a href="#">Tours</a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-has-children">
                    <a href="listing-map.html">Tours Archive</a>
                    <ul class="sub-menu">
                      <li class="menu-item"> <a href="listing-grid.html">Grid Package</a> </li>
                      <li class="menu-item"> <a href="listing-list.html">List Package v1</a> </li>
                      <li class="menu-item"> <a href="listing-list-v2.html">List Package v2</a> </li>
                      <li class="menu-item"> <a href="listing-map.html">Map List</a> </li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="listing-details-v1.html">Listing Details</a>
                    <ul class="sub-menu">
                      <li class="menu-item"> <a href="listing-details-v1.html">Listing Details v1</a> </li>
                      <li class="menu-item"> <a href="listing-details-v2.html">Listing Details v2</a> </li>
                      <li class="menu-item"> <a href="listing-details-v3.html">Listing Details v3</a> </li>
                    </ul>
                  </li>
                  <li class="menu-item"> <a href="gallery.html">Gallery</a> </li>
                  <li class="menu-item"> <a href="submit-listing.html">Submit Listing</a> </li>
                  <li class="menu-item"> <a href="compare-listings.html">Compare Tours</a> </li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a href="guide-archive.html">Guide</a>
                <ul class="sub-menu">
                  <li class="menu-item"> <a href="guide-archive.html">Guide Archive v1</a> </li>
                   <li class="menu-item"> <a href="guide-archive-v2.html">Guide Archive v2</a> </li>
                  <li class="menu-item"> <a href="guide-details.html">Guide Details</a> </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="profile.html">User Profile</a>
                    <ul class="sub-menu">
                      <li class="menu-item"> <a href="profile.html">My Account</a> </li>
                      <li class="menu-item"> <a href="profile-listings.html">My Tours</a> </li>
                      <li class="menu-item"> <a href="profile-saved-listings.html">Saved Tours</a> </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a href="agency-archive.html">Agency</a>
                <ul class="sub-menu">
                  <li class="menu-item"> <a href="agency-archive.html">Agency Archive</a> </li>
                  <li class="menu-item"> <a href="agency-details.html">Agency Details</a> </li>
                </ul>
              </li>
            </ul>
    </aside>
    <div class="sigma_aside-overlay aside-trigger"></div>
    <!--Mobile Aside nav End -->

    <!-- Header Start -->
    <header class="sigma_header style-1 can-sticky">

      <div class="sigma_header-middle">
        <div class="container">
          <div class="navbar">

            <div class="sigma_logo-wrapper">
              <a class="sigma_logo" href="index.html">
                <img src="assets/img/logo.png" alt="logo">
              </a>
            </div>

            <div class="sigma_header-controls style-1">
              <ul class="sigma_header-controls-inner">
                <li class="search-trigger header-controls-item d-none d-sm-block">
                  <a class="sigma_header-control-search" title="Search" href="#">
                    <i class="flaticon-search"></i>
                  </a>
                </li>
                <li class="ml-3 d-none d-sm-block">
                  <a href="listing-details-v1.html" class="btn-custom primary">Book now </a>
                </li>
                <li class="aside-toggle aside-trigger">
                  <span></span>
                  <span></span>
                  <span></span>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      <div class="sigma_header-bottom">
        <div class="container">
          <div class="sigma_header-bottom-inner">

            <ul class="navbar-nav">
              <li class="menu-item menu-item-has-children">
                <a href="#">Home Pages</a>
                <ul class="sub-menu">
                  <li class="menu-item"> <a href="index.html">Home v1</a> </li>
                  <li class="menu-item"> <a href="home-v2.html">Home v2</a> </li>
                  <li class="menu-item"> <a href="home-v3.html">Home v3</a> </li>

                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a href="#">Blog</a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-has-children">
                    <a href="blog-grid.html">Blog Archive</a>
                    <ul class="sub-menu">
                      <li class="menu-item"> <a href="blog-left-sidebar.html">Left Sidebar</a> </li>
                      <li class="menu-item"> <a href="blog-right-sidebar.html">Right Sidebar</a> </li>
                      <li class="menu-item"> <a href="blog-grid.html">Grid View</a> </li>
                      <li class="menu-item"> <a href="blog-list.html">List View</a> </li>
                    </ul>
                  </li>
                  <li class="menu-item">
                    <a href="blog-single.html">Blog Single</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children mega-menu-wrapper">
                <a href="#">Pages</a>
                <ul class="sub-menu">
                  <li>
                    <img src="assets/img/megamenu.png" alt="img">
                    <div class="container">
                      <div class="row">

                        <div class="col-lg-4">
                          <div class="mega-menu-item">
                            <h5>Featured Tours</h5>
                            <p>
                              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                              making it over 2000 years old.
                            </p>
                            <a href="listing-map.html" class="btn-custom secondary">Package All</a>
                          </div>
                        </div>

                        <div class="offset-lg-1 col-lg-3">
                          <div class="mega-menu-item">
                            <h5>Pages</h5>
                            <a href="about-us.html">About Us</a>
                            <a href="services.html">Services</a>
                            <a href="faq.html">FAQ</a>
                            <a href="pricing.html">Pricing</a>
                            <a href="contact-us.html">Contact Us</a>
                          </div>
                        </div>

                        <div class="col-lg-4">
                          <div class="mega-menu-item">
                            <h5>Other Pages</h5>
                            <a href="coming-soon.html">Coming Soon</a>
                            <a href="404.html">404 Page</a>
                            <a href="login.html">Login</a>
                            <a href="register.html">Register</a>
                            <a href="legal.html">Legal</a>
                          </div>
                        </div>

                      </div>
                    </div>
                  </li>

                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a href="#">Tours</a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-has-children">
                    <a href="listing-map.html">Tours Archive</a>
                    <ul class="sub-menu">
                      <li class="menu-item"> <a href="listing-grid.html">Grid Package</a> </li>
                      <li class="menu-item"> <a href="listing-list.html">List Package v1</a> </li>
                      <li class="menu-item"> <a href="listing-list-v2.html">List Package v2</a> </li>
                      <li class="menu-item"> <a href="listing-map.html">Map List</a> </li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="listing-details-v1.html">Listing Details</a>
                    <ul class="sub-menu">
                      <li class="menu-item"> <a href="listing-details-v1.html">Listing Details v1</a> </li>
                      <li class="menu-item"> <a href="listing-details-v2.html">Listing Details v2</a> </li>
                      <li class="menu-item"> <a href="listing-details-v3.html">Listing Details v3</a> </li>
                    </ul>
                  </li>
                  <li class="menu-item"> <a href="gallery.html">Gallery</a> </li>
                  <li class="menu-item"> <a href="submit-listing.html">Submit Listing</a> </li>
                  <li class="menu-item"> <a href="compare-listings.html">Compare Tours</a> </li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a href="guide-archive.html">Guide</a>
                <ul class="sub-menu">
                  <li class="menu-item"> <a href="guide-archive.html">Guide Archive v1</a> </li>
                   <li class="menu-item"> <a href="guide-archive-v2.html">Guide Archive v2</a> </li>
                  <li class="menu-item"> <a href="guide-details.html">Guide Details</a> </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="profile.html">User Profile</a>
                    <ul class="sub-menu">
                      <li class="menu-item"> <a href="profile.html">My Account</a> </li>
                      <li class="menu-item"> <a href="profile-listings.html">My Tours</a> </li>
                      <li class="menu-item"> <a href="profile-saved-listings.html">Saved Tours</a> </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a href="agency-archive.html">Agency</a>
                <ul class="sub-menu">
                  <li class="menu-item"> <a href="agency-archive.html">Agency Archive</a> </li>
                  <li class="menu-item"> <a href="agency-details.html">Agency Details</a> </li>
                </ul>
              </li>
            </ul>

            <div class="aside-toggle aside-trigger-right desktop-toggler">
              <span></span>
              <span></span>
              <span></span>
            </div>

          </div>
        </div>
      </div>
    </header>

    <div class="search-form-wrapper">
      <div class="search-trigger sigma_close">
        <span></span>
        <span></span>
      </div>
      <form class="search-form" method="post">
        <input type="text" placeholder="Search..." value="">
        <button type="submit" class="search-btn">
          <i class="flaticon-search m-0"></i>
        </button>
      </form>
    </div>
    <!-- Header End -->

  <!-- Subheader Start -->
  <div class="subheader bg-cover bg-center dark-overlay" style="background-image: url('assets/img/subheader.jpg')">
    <div class="container">
      <div class="subheader-inner">
        <h1 class="text-white">Compare Tours</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Compare Tours</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <!-- Subheader End -->

  <div class="section section-padding">
    <div class="container">

      <div class="row">

        <!-- Compare Item Start -->
        <div class="col-lg-4">
          <div class="listing compare-listing-item">
            <div class="listing-thumbnail">
              <a href="listing-details-v1.html"><img src="assets/img/listings/1.jpg" alt="listing"></a>
              <div class="listing-badges">
                <span class="listing-badge featured"> <i class="fas fa-star"></i> </span>
                <span class="listing-badge pending"> Pending</span>
              </div>
              <div class="listing-controls">
                <a href="#" class="favorite"><i class="far fa-heart"></i></a>
                <a href="#" class="remove"><i class="far fa-times-circle"></i></a>
              </div>
            </div>
            <div class="listing-body">
              <h5 class="listing-title"> <a href="listing-details-v1.html" title="Honeymoon Package">Honeymoon Package</a> </h5>
              <span class="listing-price">3,500$ <span>/Person</span> </span>
              <p class="listing-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a href="listing-details-v1.html" class="btn-custom btn-sm secondary">Package Details</a>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-price-tags"></i>
            <div class="acr-compare-feature-body">
              <h6>Hotel</h6>
              <span>5</span>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-dish"></i>
            <div class="acr-compare-feature-body">
              <h6>Food</h6>
              <span>No</span>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-airplane"></i>
            <div class="acr-compare-feature-body">
              <h6>Flight</h6>
              <span>220  Flights</span>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-phone"></i>
            <div class="acr-compare-feature-body">
              <h6>Property Type</h6>
              <span>Home</span>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-warranty"></i>
            <div class="acr-compare-feature-body">
              <h6>Days</h6>
              <span>New</span>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-visibility"></i>
            <div class="acr-compare-feature-body">
              <h6>Package</h6>
              <span>City Package</span>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-price-tags"></i>
            <div class="acr-compare-feature-body">
              <h6>Hotel</h6>
              <span>No</span>
            </div>
            <i class="custom-danger fas fa-times"></i>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-shopping-bags"></i>
            <div class="acr-compare-feature-body">
              <h6>Furnishing</h6>
              <spa>Yes</span>
            </div>
            <i class="custom-success fas fa-check"></i>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-taxi"></i>
            <div class="acr-compare-feature-body">
              <h6>Taxy</h6>
              <span>No</span>
            </div>
            <i class="custom-danger fas fa-times"></i>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-shopping-bag-1"></i>
            <div class="acr-compare-feature-body">
              <h6>Mailbox</h6>
              <span>Yes</span>
            </div>
            <i class="custom-success fas fa-check"></i>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-location"></i>

            <div class="acr-compare-feature-body">
              <h6>Parking</h6>
              <span>No</span>
            </div>
            <i class="custom-danger fas fa-times"></i>
          </div>

        </div>
        <!-- Compare Item End -->

        <!-- Compare Item Start -->
        <div class="col-lg-4">
          <div class="listing compare-listing-item">
            <div class="listing-thumbnail">
              <a href="listing-details-v1.html"><img src="assets/img/listings/2.jpg" alt="listing"></a>
              <div class="listing-badges">
                <span class="listing-badge rent"> New Destinations</span>
              </div>
              <div class="listing-controls">
                <a href="#" class="favorite"><i class="far fa-heart"></i></a>
                <a href="#" class="remove"><i class="far fa-times-circle"></i></a>
              </div>
            </div>
            <div class="listing-body">
              <h5 class="listing-title"> <a href="listing-details-v1.html" title="7 Wonders Package ">7 Wonders Package </a> </h5>
              <span class="listing-price">2,400$ <span>/Person</span> </span>
              <p class="listing-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a href="listing-details-v1.html" class="btn-custom btn-sm secondary">Package Details</a>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-price-tags"></i>
            <div class="acr-compare-feature-body">
              <h6>Hotel</h6>
              <span>7</span>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-dish"></i>
            <div class="acr-compare-feature-body">
              <h6>Food</h6>
              <span>Yes</span>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-airplane"></i>
            <div class="acr-compare-feature-body">
              <h6>Flight</h6>
              <span>2,300  Flights</span>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-phone"></i>
            <div class="acr-compare-feature-body">
              <h6>Property Type</h6>
              <span>Cruise</span>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-warranty"></i>
            <div class="acr-compare-feature-body">
              <h6>Days</h6>
              <span>Used</span>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-visibility"></i>
            <div class="acr-compare-feature-body">
              <h6>Package</h6>
              <span>Forest Package</span>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-price-tags"></i>
            <div class="acr-compare-feature-body">
              <h6>Hotel</h6>
              <span>No</span>
            </div>
            <i class="custom-danger fas fa-times"></i>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-shopping-bags"></i>
            <div class="acr-compare-feature-body">
              <h6>Furnishing</h6>
              <span>Yes</span>
            </div>
            <i class="custom-success fas fa-check"></i>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-taxi"></i>
            <div class="acr-compare-feature-body">
              <h6>Taxy</h6>
              <span>Yes</span>
            </div>
            <i class="custom-success fas fa-check"></i>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-shopping-bag-1"></i>
            <div class="acr-compare-feature-body">
              <h6>Mailbox</h6>
              <span>No</span>
            </div>
            <i class="custom-danger fas fa-times"></i>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-location"></i>

            <div class="acr-compare-feature-body">
              <h6>Parking</h6>
              <span>Yes</span>
            </div>
            <i class="custom-success fas fa-check"></i>

          </div>

        </div>
        <!-- Compare Item End -->

        <!-- Compare Item Start -->
        <div class="col-lg-4">
          <div class="listing compare-listing-item">
            <div class="listing-thumbnail">
              <a href="listing-details-v1.html"><img src="assets/img/listings/3.jpg" alt="listing"></a>
              <div class="listing-badges">
                <span class="listing-badge featured"> <i class="fas fa-star"></i> </span>
                <span class="listing-badge pending"> Pending</span>
              </div>
              <div class="listing-controls">
                <a href="#" class="favorite"><i class="far fa-heart"></i></a>
                <a href="#" class="remove"><i class="far fa-times-circle"></i></a>
              </div>
            </div>
            <div class="listing-body">
              <h5 class="listing-title"> <a href="listing-details-v1.html" title="Cecilia Chapman, Mankato Mississippi 96522">Cecilia Chapman, Mankato Mississippi 96522</a> </h5>
              <span class="listing-price">2,600$ <span>/Person</span> </span>
              <p class="listing-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a href="listing-details-v1.html" class="btn-custom btn-sm secondary">Package Details</a>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-price-tags"></i>
            <div class="acr-compare-feature-body">
              <h6>Hotel</h6>
              <span>3</span>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-dish"></i>
            <div class="acr-compare-feature-body">
              <h6>Food</h6>
              <span>Yes</span>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-airplane"></i>
            <div class="acr-compare-feature-body">
              <h6>Flight</h6>
              <span>200  Flights</span>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-phone"></i>
            <div class="acr-compare-feature-body">
              <h6>Property Type</h6>
              <span>Property Gifts</span>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-warranty"></i>
            <div class="acr-compare-feature-body">
              <h6>Days</h6>
              <span>New</span>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-visibility"></i>
            <div class="acr-compare-feature-body">
              <h6>Package</h6>
              <span>City Package</span>
            </div>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-price-tags"></i>
            <div class="acr-compare-feature-body">
              <h6>Hotel</h6>
              <span>Yes</span>
            </div>
            <i class="custom-success fas fa-check"></i>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-shopping-bags"></i>
            <div class="acr-compare-feature-body">
              <h6>Furnishing</h6>
              <span>Yes</span>
            </div>
            <i class="custom-success fas fa-check"></i>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-taxi"></i>
            <div class="acr-compare-feature-body">
              <h6>Taxy</h6>
              <span>Yes</span>
            </div>
            <i class="custom-success fas fa-check"></i>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-shopping-bag-1"></i>
            <div class="acr-compare-feature-body">
              <h6>Mailbox</h6>
              <span>Yes</span>
            </div>
            <i class="custom-success fas fa-check"></i>
          </div>
          <div class="acr-compare-feature">
            <i class="flaticon-location"></i>

            <div class="acr-compare-feature-body">
              <h6>Parking</h6>
              <span>Yes</span>
            </div>
            <i class="custom-success fas fa-check"></i>
          </div>

        </div>
        <!-- Compare Item End -->

      </div>

    </div>
  </div>

  <!-- Footer Start -->
  <footer class="sigma_footer style-2">
      <div class="container">
        <div class="sigma_footer-top">
          <div class="sigma_footer-logo">
            <img src="assets/img/logo.png" alt="logo">
          </div>
          <div class="footer-item">
            <ul class="sigma_footer-links">
              <li>
                <a href="index.html">Home</a>
              </li>
              <li>
                <a href="about-us.html">About</a>
              </li>
              <li>
                <a href="blog-grid.html">Blog</a>
              </li>
              <li>
                <a href="contact-us.html">Contact</a>
              </li>
            </ul>
          </div>
          <div class="footer-item">
            <ul class="social-media">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="sigma_footer-bottom">
          <div class="sigma_footer-copyright">
            <p class="mb-0"> &copy; Startours -
              <a href="#">2021,</a>
              Made With Love
            </p>
          </div>
        </div>
      </div>
    </footer>
  <!-- Footer End -->

  <!-- Vendor Scripts -->
  <script src="assets/js/plugins/jquery-3.4.1.min.js"></script>
  <script src="assets/js/plugins/popper.min.js"></script>
  <script src="assets/js/plugins/waypoint.js"></script>
  <script src="assets/js/plugins/bootstrap.min.js"></script>
  <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/plugins/jquery.slimScroll.min.js"></script>
  <script src="assets/js/plugins/imagesloaded.min.js"></script>
  <script src="assets/js/plugins/jquery.steps.min.js"></script>
  <script src="assets/js/plugins/jquery.countdown.min.js"></script>
  <script src="assets/js/plugins/isotope.pkgd.min.js"></script>
  <script src="assets/js/plugins/slick.min.js"></script>
  <script src="assets/js/plugins/select2.min.js"></script>


  <!-- Tours Scripts -->
  <script src="assets/js/main.js"></script>

</body>

</html>
