<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hyelper</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/plugins/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/plugins/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/plugins/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/plugins/slick.css' %}">
  <link rel="stylesheet" href="{% static 'css/plugins/slick-theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/plugins/select2.min.css' %}">

  <!-- Icon Fonts -->
  <link rel="stylesheet" href="{% static 'fonts/flaticon/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/all.min.css' %}">

  <!-- Tours Style sheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">

</head>

<body>

  <!-- Preloader Start -->
  <div class="acr-preloader">
    <div class="acr-preloader-inner">
      <img src="{% static 'img/svg/preloader.svg' %}" alt="preloader">
    </div>
  </div>
  <!-- Preloader End -->

  {% include 'app/navbar.html' %}

  <!-- Banner Start -->
  <div class="banner banner-4 bg-cover bg-center">

    <div class="container">

      <div class="banner-item">
        <div class="banner-inner">
          <div class="banner-text">
            <div class="acr-dots-wrapper">
              <div class="acr-dots"></div>
            </div>
            <h1 class="title">Find Businesses </h1>
            <p class="subtitle">Thousands of businesses which can bring happiness to your life , Don't miss your chance to find what you need.</p>
          </div>
          <div class="banner-newsletter">
            <form  action="{% url 'search' %}" method="get">
              {% csrf_token %}
              <input type="text" placeholder="Keywords ..." class="form-control" name="query" value="" style="width: 225px;">
              <input type="text" placeholder="Location ..." class="form-control" name="location" value="" style="width: 225px;">
              <button type="submit" class="btn-custom secondary" name="button" style="width: 200px;">Search</button>
            </form>
            <!-- <span>*We will be sending you two emails per month about offers and exclusive listings</span> -->
          </div>

          <!-- Featured Tours Start -->
          <div class="acr-featured-listings banner-featured-slider">

            {% for business in featured_businesses %}
            <div class="acr-featured-listing">
              <div class="featured-listing-thumb">
                <a href="{{business.url}}"><img src="{{business.image_url}}" alt="{{business.name}}"></a>
                <div class="featured-listing-controls">
                  <span>Featured</span>
                  <!-- <a href="#"><i class="far fa-heart"></i></a> -->
                </div>
              </div>
              <div class="featured-listing-content">
                {% if business.price %}
                <h6>{{business.price}}</h6>
                {% endif %}
                <div class="featured-listing-meta">
                  <p>{{business.name}}</p>
                </div>
                <span> <i class="fas fa-map-marker-alt"></i> 
                  {{business.location.address1}} {{business.location.address2}} {{business.location.address3}}
                  {{business.location.city}}, {{business.location.state}} {{business.location.zip_code}}
                </span>
              </div>
            </div>

            {% endfor %}
            
          </div>
          <!-- Featured Tours End -->

        </div>
      </div>

    </div>

    <div class="banner-bg bg-center bg-cover" style="background-image: url('{% static 'img/banner/4.jpg' %}')"></div>

  </div>
  <!-- Banner End -->



  
  <!-- Tours Start -->
  <div class="section pt-0">
    <div class="container">

      <div class="row">
        {% if data %}
        <!-- Sidebar Start -->
        <div class="col-lg-4">
          <div class="sidebar sidebar-left">
            <div class="sidebar-widget">
              <br>
              <h5>Filter Search</h5>

              <div class="acr-filter-form">
                <form  action="{% url 'search' %}" method="get">
                  {% csrf_token %}
                  <!-- Keyword -->
                  <div class="acr-custom-select form-group">
                    <label>Keyword: </label>
                    <select class="acr-select2" name="query">
                      <option value="" label="Query"></option>
                      <option selected value="{{query}}">{{query}}</option>
                      <option value="Hotels">Hotels</option>
                      <option value="Restaurants">Restaurants</option>
                      <option value="Barber shop">Barber shop</option>
                      <option value="Mattresses">Mattresses</option>
                      <option value="Cleaning">Cleaning</option>
                      <option value="Jewelry">Jewelry</option>
                      <option value="Sold">Sold</option>
                      <option value="Auto Insurance">Auto Insurance</option>
                      <option value="Gas station">Gas station</option>
                    </select>
                  </div>
                  <!-- location -->
                  <div class="acr-custom-select form-group">
                    <label>Location: </label>
                    <select class="acr-select2" name="location">
                      <option value="" label="Location"></option>
                      <option value="San Francisco, CA">San Francisco, CA</option>
                      <option value="Los Angeles, CA">Los Angeles, CA</option>
                      <option value="New York City, NY">New York City, NY</option>
                      <option selected value="{{location}}">{{location}}</option>
                      <option value="Miami Beach, FL">Ponte Vedra Beach, FL</option>
                      <option value="Chicago, IL">Chicago, IL</option>
                      <option value="Willingboro, NJ">Willingboro, NJ</option>
                    </select>
                  </div>
                  <!-- sort_by -->
                  <div class="acr-custom-select form-group">
                      <label>Sort By: </label>
                      <select class="acr-select2" name="sort_by">
                        <option value="" label="Sort By"></option>
                        <option selected value="{{sort_by}}">{{sort_by}}</option>
                        <option value="best_match">Best Match</option>
                        <option value="rating">Rating</option>
                        <option value="review_count">Review Count</option>
                        <option value="distance">Distance</option>
                      </select>
                  </div>
                  <!-- price -->
                  <div class="acr-custom-select form-group">
                    <label>Price Range: </label>
                    <select class="acr-select2" name="price">
                      <option value="" label="Price Range"></option>
                      <option selected value="{{price}}">{{price}}</option>
                      <option value="1">$</option>
                      <option value="2">$$</option>
                      <option value="3">$$$</option>
                      <option value="4">$$$$</option>
                    </select>
                  </div>
                  <!-- open_now -->
                  <div class="acr-custom-select form-group">
                    <label>Open Now: </label>
                    <select class="acr-select2" name="open_now">
                      <option value="" label="Open Now"></option>
                      <option selected value="{{open_now}}">{{open_now}}</option>
                      <option value="true">Yes</option>
                      <option value="false">No</option>
                    </select>
                  </div>
                  <button type="submit" class="btn-block btn-custom" name="button">Apply filters</button>
                </form>
              </div>

            </div>
            
            
            <div class="sidebar-widget">
              <h5>Featured Listing</h5>

              {% for business in yelp_featured %}
              <!-- Listing Start -->
              <div class="listing listing-list">
                <div class="listing-thumbnail">
                  <a href="{{business.url}}"><img src="{{business.image_url}}" alt="{{business.name}}"></a>
                </div>
                <div class="listing-body">
                  <h6 class="listing-title"> <a href="{{business.url}}" title="{{business.name}}">{{business.name}}</a> </h6>
                  {% if business.price %}
                  <span class="listing-price">{{business.price}} </span>
                  {% endif %}
                  <span class="listing-price">
                      {{business.location.address1}} {{business.location.address2}} {{business.location.address3}}
                      {{business.location.city}}, {{business.location.state}} {{business.location.zip_code}}
                  </span>
                </div>
              </div>
              <!-- Listing End -->
              {% endfor %}

            </div>

          </div>
        </div>
        <!-- Sidebar End -->
        {% endif %}

        <!-- Posts Start -->
        <div class="col-lg-8">

          {% for business in data %}
          <!-- Listing Start -->
          <div class="listing listing-list">
            <div class="listing-thumbnail">
              <a href="{{business.url}}"><img src="{{business.image_url}}" alt="listing"></a>
              <div class="listing-badges">
                <span class="listing-badge featured"> <i class="fas fa-star"></i> </span>
                <span class="listing-badge pending"> {{business.rating}}</span>
              </div>
              <!-- <div class="listing-controls">
                <a href="#" class="favorite"><i class="far fa-heart"></i></a>
                <a href="#" class="compare"><i class="fas fa-sync-alt"></i></a>
              </div> -->
            </div>
            <div class="listing-body">
              <div class="listing-author">
                
                <div class="dropdown options-dropdown">
                  <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <ul>
                      <li> <a href="tel:{{business.phone}}"> <i class="fas fa-phone"></i> Call </a> </li>
                      <li> <a href="mailto:{{business.phone}}"> <i class="fas fa-envelope"></i> Send Message</a> </li>
                      <li> <a href="{{business.url}}"> <i class="fas fa-eye"></i> View Business</a> </li>
                    </ul>
                  </div>
                </div>
              </div>
              <h5 class="listing-title"> <a href="{{business.url}}" title="{{business.name}}">{{business.name}}</a> </h5>
              {% if business.price %}
                <span class="listing-price">{{business.price}} </span>
              {% endif %}
              <p class="listing-text">{{business.location.address1}} {{business.location.address2}} {{business.location.address3}}
              
                <br>
                {{business.location.city}}, {{business.location.state}} {{business.location.zip_code}}
              </p>
              <div class="acr-listing-icons">
                <div class="acr-listing-icon" data-toggle="tooltip" title="Hours">
                  {% if business.is_closed %}
                    <i class="fa fa-store"></i>
                    <span class="acr-listing-icon-value">Close</span>
                  {% else %}
                    <i class="fa fa-store"></i>
                    <span class="acr-listing-icon-value">Open</span>
                  {% endif %}
                </div>
                <div class="acr-listing-icon" data-toggle="tooltip" title="Reviews">
                  <i class="fas fa-star"></i>
                  <span class="acr-listing-icon-value">{{business.review_count}} Review</span>
                </div>
                <!-- <div class="acr-listing-icon" data-toggle="tooltip" title="Tickets">
                  <i class="flaticon-airplane"></i>
                  <span class="acr-listing-icon-value">220</span>
                </div> -->
              </div>
              <div class="listing-gallery-wrapper">
                <a href="{{business.url}}" class="btn-custom btn-sm secondary">Business Details</a>
                <!-- <a href="#" data-toggle="tooltip" title="Gallery" class="listing-gallery"> <i class="fas fa-camera"></i> </a> -->
              </div>
            </div>
          </div>
          <!-- Listing End -->
          {% endfor %}
          

        </div>
        <!-- Posts End -->

      </div>

    </div>
  </div>
  <!-- Tours End -->



 
  <!-- Contact Form End -->

  <!-- Instagram Start -->
    <div class="insta style-5">
      <div class="insta-text">
        <i class="fab fa-yelp"></i>
        <p>Hyelper</p>
      </div>
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-lg-2 col-md-4 col-sm-4 col-6">
            <a href="#" class="ct-ig-item">
            <img src="{% static 'img/gallery/1.jpg' %}" alt="ig">
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-6">
            <a href="#" class="ct-ig-item">
            <img src="{% static 'img/gallery/2.jpg' %}" alt="ig">
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-6">
            <a href="#" class="ct-ig-item">
            <img src="{% static 'img/gallery/3.jpg' %}" alt="ig">
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-6">
            <a href="#" class="ct-ig-item">
            <img src="{% static 'img/gallery/4.jpg' %}" alt="ig">
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-6">
            <a href="#" class="ct-ig-item">
            <img src="{% static 'img/gallery/5.jpg' %}" alt="ig">
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-6">
            <a href="#" class="ct-ig-item">
            <img src="{% static 'img/gallery/6.jpg' %}" alt="ig">
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-6">
            <a href="#" class="ct-ig-item">
            <img src="{% static 'img/gallery/7.jpg' %}" alt="ig">
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-6">
            <a href="#" class="ct-ig-item">
            <img src="{% static 'img/gallery/8.jpg' %}" alt="ig">
            </a>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-4 col-6">
            <a href="#" class="ct-ig-item">
            <img src="{% static 'img/gallery/4.jpg' %}" alt="ig">
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-6">
            <a href="#" class="ct-ig-item">
            <img src="{% static 'img/gallery/1.jpg' %}" alt="ig">
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-6">
            <a href="#" class="ct-ig-item">
            <img src="{% static 'img/gallery/6.jpg' %}" alt="ig">
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-6">
            <a href="#" class="ct-ig-item">
            <img src="{% static 'img/gallery/2.jpg' %}" alt="ig">
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Instagram End -->

  <!-- Footer Start -->
  <footer class="sigma_footer style-2">
      <div class="container">
        <div class="sigma_footer-top">
          <div class="sigma_footer-logo">
            <img src="{% static 'img/logo.png' %}" width="150" height="150" alt="logo">
          </div>
          <div class="footer-item">
            <ul class="sigma_footer-links">

  
            </ul>
          </div>
        </div>
        <div class="sigma_footer-bottom">
          <div class="sigma_footer-copyright">
            <p class="mb-0"> &copy; Hyelper -
              <a href="#">2021,</a>
              Made With Love by AVA TEAM
            </p>
          </div>
        </div>
      </div>
    </footer>
  <!-- Footer End -->

  <!-- Vendor Scripts -->
  <script src="{% static 'js/plugins/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/plugins/popper.min.js' %}"></script>
  <script src="{% static 'js/plugins/waypoint.js' %}"></script>
  <script src="{% static 'js/plugins/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/plugins/jquery.slimScroll.min.js' %}"></script>
  <script src="{% static 'js/plugins/imagesloaded.min.js' %}"></script>
  <script src="{% static 'js/plugins/jquery.steps.min.js' %}"></script>
  <script src="{% static 'js/plugins/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/plugins/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'js/plugins/slick.min.js' %}"></script>
  <script src="{% static 'js/plugins/select2.min.js' %}"></script>


  <!-- Tours Scripts -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
