{% load static %}
<!--Desktop Aside bar Start -->
<aside class="sigma_aside sigma_aside-desktop">

    <div class="sidebar">

      <div class="sidebar-widget">
        <img src="{% static 'img/logo.png' %}"  width="100" height="100" alt="img">
        <p class="mb-0">Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec rutrum congue leo eget malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
      </div>
      <!-- Recent Posts Widget -->
     <div class="sidebar-widget">
            <h5>Recent Posts</h5>
            <article class="media">
              <a href="#"><img src="{% static 'img/blog-sm/1.jpg' %}" alt="post"></a>
              <div class="media-body">
                <h6> <a href="#">10 Top Showroom Planners </a> </h6>
                <span>January 22, 2021</span>
              </div>
            </article>
            <article class="media">
              <a href="#"><img src="{% static 'img/blog-sm/2.jpg' %}" alt="post"></a>
              <div class="media-body">
                <h6> <a href="#">How to get better agents in NYC</a> </h6>
                <span>January 24, 2021</span>
              </div>
            </article>
            <article class="media">
              <a href="#"><img src="{% static 'img/blog-sm/3.jpg' %}" alt="post"></a>
              <div class="media-body">
                <h6> <a href="#">Showroom Venue where you will get your dream </a> </h6>
                <span>January 26, 2021</span>
              </div>
            </article>
            <article class="media">
              <a href="#"><img src="{% static 'img/blog-sm/4.jpg' %}" alt="post"></a>
              <div class="media-body">
                <h6> <a href="#">ROLLERDROME FAMILY SKATE CENTER</a> </h6>
                <span>January 28, 2021</span>
              </div>
            </article>
     </div>

    </div>

  </aside>
  <div class="sigma_aside-overlay aside-trigger-right"></div>
  <!--Desktop Aside bar End -->

  <!--Mobile Aside nav Start -->
  <aside class="sigma_aside">
    <div class="sigma_close aside-trigger">
      <span></span>
      <span></span>
    </div>
    <div class="sigma_logo-wrapper">
      <a class="sigma_logo" href="index.html">
        <img src="{% static 'img/logo.png' %}"  width="100" height="100" alt="logo">
      </a>
    </div>
   <ul class="navbar-nav">
            <li class="menu-item menu-item-has-children">
              <a href="{% url 'index' %}">Home</a>
              <!-- <ul class="sub-menu">
                <li class="menu-item"> <a href="index.html">Home v1</a> </li>
                <li class="menu-item"> <a href="home-v2.html">Home v2</a> </li>
                <li class="menu-item"> <a href="home-v3.html">Home v3</a> </li>

              </ul> -->
            </li>

        
            
    
          </ul>
  </aside>
  <div class="sigma_aside-overlay aside-trigger"></div>
  <!--Mobile Aside nav End -->

  <!-- Header Start -->
  <header class="sigma_header style-1 can-sticky">

    <div class="sigma_header-middle">
      <div class="container">
        <div class="navbar">

          <div class="sigma_logo-wrapper">
            <a class="sigma_logo" href="index.html">
              <img src="{% static 'img/logo.png' %}"  width="100" height="100" alt="logo">
            </a>
          </div>

          <div class="sigma_header-controls style-1">
            <ul class="sigma_header-controls-inner">
              <li class="search-trigger header-controls-item d-none d-sm-block">
                <a class="sigma_header-control-search" title="Search" href="#">
                  <i class="flaticon-search"></i>
                </a>
              </li>
              <!-- <li class="ml-3 d-none d-sm-block">
                <a href="listing-details-v1.html" class="btn-custom primary">Book now </a>
              </li> -->
              <li class="aside-toggle aside-trigger">
                <span></span>
                <span></span>
                <span></span>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="sigma_header-bottom">
      <div class="container">
        <div class="sigma_header-bottom-inner">

          <ul class="navbar-nav">
            <li class="menu-item">
              <a href="{% url 'index' %}">Home</a>
            </li>
        

          <div class="aside-toggle aside-trigger-right desktop-toggler">
            <span></span>
            <span></span>
            <span></span>
          </div>

        </div>
      </div>
    </div>
  </header>

  <div class="search-form-wrapper">
    <div class="search-trigger sigma_close">
      <span></span>
      <span></span>
    </div>
    <form class="search-form" method="post">
      <input type="text" placeholder="Search..." value="">
      <button type="submit" class="search-btn">
        <i class="flaticon-search m-0"></i>
      </button>
    </form>
  </div>
  <!-- Header End -->